@model ProyectoPAW2.Models.Proveedor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProve" />
            <div class="form-group">
                <label asp-for="NombreProveedor" class="control-label"></label>
                <input asp-for="NombreProveedor" class="form-control" />
                <span asp-validation-for="NombreProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroProveedor" class="control-label"></label>
                <input asp-for="NumeroProveedor" class="form-control" />
                <span asp-validation-for="NumeroProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompania" class="control-label"></label>
                <input asp-for="NombreCompania" class="form-control" />
                <span asp-validation-for="NombreCompania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionExact" class="control-label"></label>
                <input asp-for="DireccionExact" class="form-control" />
                <span asp-validation-for="DireccionExact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canton" class="control-label"></label>
                <input asp-for="Canton" class="form-control" />
                <span asp-validation-for="Canton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Districto" class="control-label"></label>
                <input asp-for="Districto" class="form-control" />
                <span asp-validation-for="Districto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
